div.about-us-desc-what p, div.about-us-desc-why p {
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
}

div.about-us-desc-why p {
    margin-top: 4%;
}

div.images {
    justify-content: center;
    align-items: center;
}

div.about-us-images img {
    width: 50%;
}

div.d-flex.gap-3.text-center.staff {
    margin-bottom: 5%;
    align-items: center;
}

div.staffImage {
    width: 25%;
}

div.staffImage img {
    max-width: 183px;
    border-radius: 50%;
}

div.staff-title h2, div.about-us-what h2, div.about-us-why h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 1%;
    padding: 3%;
    font-size: 60px;
}