div.illustration {
    margin-top: 5%;
    margin-bottom: 5%;
}

div.article-description h2 {
    margin: 5%;
    font-size: 60px;
    text-transform: uppercase;
    padding-left: 20%;
    padding-right: 20%;
}

div.article-description p {
    font-size: 24px;
    margin-bottom: 5%;
}