h1 {
    text-align: center;
    text-transform: uppercase;
}

div.illustrations {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.illustrations img {
    margin-top: 45px;
}

div.illustrations p {
    text-align: center;
}


div.illustrations div.first-column,  div.illustrations div.second-column {
    display: flex;
    flex-direction: column;
}

div.illustrations div.first-column {
    margin-right: 50px;
}

div.illustrations div.second-column {
    margin-left: 50px;
}

div.squares {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

div.squares div.square {
    background-color: #70726E;
    flex-direction: row;
    width: 30px;
    height: 30px;
    margin: 15px;
}

div.squares div.square p {
    text-align: center;
}