div.newsImage img {
    width: 40%;
}

div.squares {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

div.squares div.square {
    background-color: #70726E;
    flex-direction: row;
    width: 30px;
    height: 30px;
    margin: 15px;
}

div.squares div.square p {
    text-align: center;
}