div.martin-rekkles-larsson {
    align-items: center;
    margin-top: 5%;
}

div.martin-rekkles-larsson div.image {
    margin-left: 5%;
}

div.martin-rekkles-larsson div.presentation {
    margin-left: 3%;
}

div.martin-rekkles-larsson div.presentation h1 {
    font-size: 96px;
}

div.martin-rekkles-larsson div.presentation p {
    font-size: 36px;
}

div.martin-rekkles-larsson div.presentation div.place-of-birth {
    align-items: center;
}

div.martin-rekkles-larsson div.presentation div.place-of-birth img {
    width: 5%;
    height: 5%;
    margin-left: 2%;
}

div.career div.career-button {
    align-items: center;
}

div.career div.career-button a {
    align-items: center;
    margin-top: 2%;
    margin-left: 25%;
}

div.career div.career-button p {
    font-size: 36px;
    margin-top: 2%;
    margin-left: 1%;
}

div.career div.content div.image img {
    width: 600px;
    height: 800px;
}

div.career div.content div.rekkles div.flex {
    position: relative;
}

div.career div.content div.rekkles div.flex::before {
    content: "";
    position: absolute;
    background-color: #135066;
    width: 75%;
    height: 5px;
    bottom: 0;
}

div.career div.content div.rekkles h2 {
    font-size: 96px;
}

div.career div.content div.rekkles h3 {
    font-size: 64px;
}

div.career div.content div.rekkles div {
    margin: 25px;
    justify-content: space-evenly;
}

div.career div.content div.rekkles div {
    align-items: center;
}

div.career div.content div.rekkles div img {
    width: 100px;
}

div.career div.content div.rekkles div img.arrow {
    width: 50px;
    height: 50px;
}

div.career div.content div.rekkles div div.dates {
    justify-content: space-around;
}

div.career div.content div.rekkles div.palmares h4 {
    font-size: 64px;
}

div.networks {
    margin: 2%;
}

div.networks div.title h5 {
    font-size: 96px;
    position: relative;
}

div.networks div.title h5::before {
    content: "";
    position: absolute;
    background-color: #135066;
    width: 32.5%;
    height: 5px;
    bottom: 0;
}

div.networks div.images {
    justify-content: space-around;
    margin-top: 5%;
}

div.networks div.images img {
    width: 10%;
}