
div.people {
    align-items: center;
    margin-top: 5%;
}

div.people div.image {
    margin-left: 5%;
}

div.people div.presentation {
    margin-left: 3%;
}

div.people div.presentation h1 {
    font-size: 96px;
}

div.people div.presentation p {
    font-size: 36px;
    color: #136782;
}

div.people div.presentation div.place-of-birth {
    align-items: center;
}

div.people div.presentation div.place-of-birth img {
    width: 5%;
    height: 5%;
    margin-left: 2%;
    border-radius: 15%;
}

div.career div.career-button {
    align-items: center;
}

div.career div.career-button a {
    align-items: center;
    margin-top: 2%;
    margin-left: 25%;
}

div.career div.career-button p {
    font-size: 36px;
    margin-top: 2%;
    margin-left: 1%;
    color: #136782;
}

div.career div.content {
    justify-content: space-evenly;
}

div.career div.content div.image img {
    width: 500px;
    height: 750px;
}

div.career div.content div.player div.flex {
    position: relative;
}

div.career div.content div.player div.flex::before {
    content: "";
    position: absolute;
    background-color: #135066;
    width: 75%;
    height: 5px;
    bottom: 0;
}

div.career div.content div.player h2 {
    font-size: 96px;
    color: #136782;
}

div.career div.content div.player h3 {
    font-size: 64px;
    color: #136782;
}

div.career div.content div.player div {
    margin: 25px;
    justify-content: space-evenly;
}

div.career div.content div.player div {
    align-items: center;
}

div.career div.content div.player div img {
    width: 100px;
}

div.career div.content div.player div div img.illustration {
    width: 175px;
    height: 175px;
}

div.career div.content div.player div img.arrow {
    width: 75px;
    height: 75px;
}

div.career div.content div.player div div.dates {
    justify-content: space-around;
}

div.career div.content div.player div div.dates p {
    color: #136782;
    font-size: 36px;
}

div.career div.content div.player div.palmares h4 {
    font-size: 64px;
    color: #136782;
}

div.networks {
    margin: 2%;
}

div.networks div.title h5 {
    font-size: 96px;
    color: #136782;
    position: relative;
}

div.networks div.title h5::before {
    content: "";
    position: absolute;
    background-color: #135066;
    width: 32.5%;
    height: 5px;
    bottom: 0;
}

div.networks div.images {
    justify-content: space-around;
    margin-top: 5%;
}

div.networks div.images div.network {
    width: 20%;
}

div.networks div.images div.network a img{
    width: 30%;
}