div.sponsorsCard a img{
    max-height: 200px;
}

img.partnersImage {
    width: 100%;
}

div.sponsorsImages, div.partnersImages {
    align-items: center;
}

div.sponsorsCard, div.partnersCard {
    text-align: center;
    margin: 2%;
}

div.sponsorsCard {
    width: 20%;
}

div.partnersCard {
    width: 12.65%;
}

div.sponsorsPartners {
    border-top: solid #C7C7C7 2px;
    border-bottom: solid #C7C7C7 2px;
    padding-left: 9%;
    padding-right: 9%;
}

h2.partnersTitle {
    margin-top: 50px;
}