div.illustration {
    text-align: center;
    margin-top: 5%;
}

div.illustration img {
    width: 90%;
}

div.illustration p {
    text-transform: uppercase;
    font-size: 100px;
    position: relative;
}

div.illustration p::before {
    content: "";
    position: absolute;
    background-color: #DFCB7D;
    width: 40%;
    height: 5px;
    left: 30%;
    bottom: 0;
}

div.players-title p, div.coach-title p {
    font-size: 90px;
    margin-left: 10%;
    text-transform: uppercase;
    position: relative;
}

div.players-title p::before, div.coach-title p::before {
    content: "";
    position: absolute;
    background-color: #135066;
    width: 25%;
    height: 5px;
    bottom: 0;
}

div.name p {
    font-size: 45px;
}

div.name p {
    margin: 0;
    height: 50px;
}

div.name p.nickname {
    color: #126782;
}

div.name p.firstname, div.name p.name{
    color: #ffffff;
}

div.coach-title {
    margin-top: 28%;
}

div.player, div.coach {
    padding-top: 1.5%;
    margin: 5% 5% 0 5%;
    width: 20%;
    background: no-repeat;
    background-size: 100%;
}

div.player div.description, div.coach div.description{
    align-items: center;
}

div.flag {
    margin-right: 5%;
}

div.poste, div.flag {
    text-align: right;
}

div.name, div.poste {
    width: 50%;
}

div.flag img  {
    max-width: 67px;
}

div.poste img {
    height: 100px;
}

div.description {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 40%;
    padding-bottom: 10%;
}