div.title h3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    border: solid #126782 2px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 0.5%;
    font-size: 96px;
}

div.teams a {
    width: 45%;
    margin: 2.5%;
}

div.teams a.team {
    background-size: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 21%;
    background-repeat: no-repeat;
}

div.teams a.logo-valorant {
    background-image: url(../img/team-valorant.png);
    background-size: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 21%;
    background-repeat: no-repeat;
}

div.teams a.logo-rainbow-siege {
    background-image: url(../img/team-rainbow-siege.png);
    background-size: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 21%;
    background-repeat: no-repeat;
}

div.teams a.logo-rocket-league {
    background-image: url(../img/team-rocket-league.png);
    background-size: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 21%;
    background-repeat: no-repeat;
}

div.teams a img {
    max-width: 118px;
}

div.button-game a {
    border: solid black 1px;
    margin: 0 2% 0 2%;
    padding: 0.5% 1% 0.5% 1%;
    text-decoration: none;
    color: black;
    border-radius: 15%;
}