/* div.p {
    width: 25%;
}

div.button {
    width: 25%;
}

div.button a {
    text-decoration: none;
    color: #000;
} */


div.content {
    margin: 5%;
    justify-content: center;
}

div.content div.website-elements div.links a {
    text-decoration: none;
    color: #000;
}