div.content {
    margin: 5%;
}

div.content div.website-elements a {
    text-decoration: none;
    color: #000;
}

div.content div.website-elements a:hover {
    text-decoration: underline;
    color: #FB8500;
}

div.website-elements {
    width: 100%;
}

div.website-elements div div{
    width: 25%;
    padding: 10px;
}
